<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingyuan.mapper.NodeMapper">
    <resultMap id="Node" type="com.qingyuan.object.DTO.Node">
        <id column="node_id" property="nodeId" jdbcType="INTEGER"/>
        <result column="node_name" property="nodeName" jdbcType="VARCHAR"/>
        <result column="nodeType_id" property="nodeTypeId" jdbcType="INTEGER"/>
        <result column="applyUser_id" property="applyUserId" jdbcType="INTEGER"/>
        <result column="apply_time" property="applyTime" jdbcType="VARCHAR"/>
        <result column="node_status" property="nodeStatus" jdbcType="VARCHAR"/>
        <result column="approveType_id" property="approveTypeId" jdbcType="INTEGER"/>
        <result column="approveUsers_id" property="approveUsersId" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="approveAuthority_id" property="approveAuthorityId" jdbcType="INTEGER"/>
        <result column="startNode_id" property="startNodeId" jdbcType="INTEGER"/>
        <result column="preNode_id" property="preNodeId" jdbcType="INTEGER"/>
        <result column="nextNode_id" property="nextNodeId" jdbcType="INTEGER"/>
        <result column="endNode_id" property="endNodeId" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="InsertNode" useGeneratedKeys="true" keyColumn="node_id">
        INSERT INTO
    </insert>

    <select id="getNodeByNodeId" resultType="com.qingyuan.object.DTO.Node">
        SELECT node_name,nodeType_id,applyUser_id,apply_time,node_status,approveType_id,
        approveUsers_id,start_time,end_time,approveAuthority_id,startNode_id,preNode_id,nextNode_id,endNode_id
        FROM node
        WHERE node_id =#{nodeId,jdbcType=INTEGER}
    </select>
</mapper>